body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background: #eeeeee;
}

input, select, textarea {
  background: rgb(250, 250, 250) !important; 
}

div.dataTables_wrapper div.dataTables_paginate ul.pagination {
  text-align: center;
  justify-content: center;
}

.loading {
  padding: 20px 0 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
